#navbar-container {
  display: flex;
  flex-direction: column;
  padding: 3px 15px;
}

#navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
}

#search-bar {
  display: flex;
  align-items: center;
  gap: 5px;
  background: #eaedef;
  border-radius: 25px;
  padding: 10px 15px;
  color: #576f76;
  font-size: 14px;
  white-space: nowrap;
  flex-grow: 1;
}

#login {
  background: #ff4500;
  color: white;
  padding: 12px 15px;
  border-radius: 25px;
  font-weight: bold;
  border: none;
  white-space: nowrap;
}

#search-text {
  display: none;
}

@media (min-width: 429px) {
  #search-text {
    display: block;
  }

  #search-text-sm {
    display: none;
  }
}

#login-modal {
  margin: 10px;
}

#cancel-btn-container {
  display: flex;
  justify-content: flex-end;
}

#cancel-btn {
  background: #dedede;
  border-radius: 50%;
  border: none;
  font-size: 22px;
  font-weight: 300;
  padding: 2.5px 10px;
  margin-top: 12px;
}

#login-text {
  margin-top: 0;
}

.auth-input {
  font-size: 16px;
  width: 90%;
  padding: 20px;
  margin: 10px 0;
  border: none;
  border-radius: 20px;
  background: rgb(224, 224, 224);
}

#sign-up-btn {
  background: #ff4500;
  color: white;
  padding: 16px 0;
  width: 100%;
  border-radius: 25px;
  font-size: 16px;
  font-weight: bold;
  border: none;
  white-space: nowrap;
}

.signed-in-text {
  margin-top: 20px;
}

.auth-flex {
  gap: 290px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.login-link {
  color: #006aff;
}

#create-btn {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 14px;
  font-weight: 600;
  color: #5e5e5e;
}

#avatar {
  border-radius: 50%;
  width: 40px;
  height: 40px;
}

#profile {
  display: flex;
  align-items: center;
  gap: 10px;
  color: #414141;
}

#logout-btn {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-left: 11px;
  text-decoration: none;
  color: #414141;
}

#logout-modal {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 0 16px;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  border: 1px solid #dedede;
  position: absolute;
  background: white;
  bottom: 0;
  left: 0;
  right: 0;
  height: 440px;
}

#logout-modal-container {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.6);
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}

#subreddit-details {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 12px;
  color: black;
  font-weight: 400;
}

#child {
  margin: 0 10px;
}

#post-title {
  margin-top: 10px;
  margin-bottom: 6px;
  font-size: 14px;
  font-weight: 600;
  color: rgb(78, 78, 78);
  text-decoration: none;
}

#post-message {
  font-size: 14px;
  color: rgb(81, 81, 81);
}

#create-post-page {
  background: white;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

#post-page-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 15px;
  border-bottom: 1px solid #dedede;
}

#post-page-cancel-btn {
  color: #bdbdbd;
  font-size: 28px;
  font-weight: 500;
  text-decoration: none;
}

#post-btn {
  background: #ff4500;
  color: white;
  padding: 10px;
  border-radius: 5px;
  font-weight: bold;
  border: none;
  white-space: nowrap;
  text-transform: uppercase;
}

#select-community {
  padding: 10px 6px;
  font-size: 16px;
  font-weight: 500;
  color: #b0b0b0;
  border: none;
}

#select-community-container {
  border-bottom: 1px solid #dedede;
  margin: 0 10px;
}

#post-title-input {
  font-size: 16px;
  font-weight: 500;
  padding: 10px 0;
  padding-top: 15px;
  border: none;
  width: 100%;
}

::placeholder {
  color: #8c8c8c;
}

#post-text-input {
  font-size: 16px;
  font-weight: 500;
  /* padding: 10px; */
  padding-top: 15px;
  height: 100px;
  border: none;
  width: 100%;
}

#hamburger-menu {
  padding: 10px 30px;
  background: white;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 200px;
}

#hamburger-modal-container {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.6);
  bottom: 0;
  top: 62px;
  left: 0;
  right: 0;
}

.community-item {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 5px;
  font-size: 14px;
  color: #525252;
  text-decoration: none;
}

#communities-title {
  font-size: 14px;
  font-weight: 400;
  color: #939393;
  padding: 10px 0;
  text-transform: uppercase;
}

.line {
  margin: 15px 0;
  border-bottom: 1px solid #dedede;
}

#add-community {
  padding-left: 2px;
  padding-bottom: 6px;
  font-size: 40px;
  font-weight: 200;
}

#create-community-container {
  font-size: 14px;
  color: #525252;
  display: flex;
  align-items: center;
  gap: 7px;
}

#create-community-modal {
  border-radius: 20px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#create-community-cancel-btn {
  background: #eaeaea;
  border-radius: 50%;
  border: none;
  font-size: 22px;
  font-weight: 300;
  padding: 5px 10px;
  color: #525252;
  margin-top: 12px;
  position: absolute;
  right: 15px;
  top: 5px;
}

#create-community-text {
  font-size: 17px;
  font-weight: 600;
  color: #525252;
}

#create-community-text-description {
  font-size: 14px;
  font-weight: 500;
  color: #8a8a8a;
}

#create-community-input {
  font-size: 16px;
  width: 90%;
  padding: 20px;
  margin: 10px 0;
  border: none;
  border-radius: 20px;
  background: rgb(224, 224, 224);
}

#create-community-submit-btn {
  background: #ff4500;
  color: white;
  padding: 16px 0;
  width: 100%;
  border-radius: 25px;
  font-size: 16px;
  font-weight: bold;
  border: none;
  white-space: nowrap;
}

#subreddit-title {
  display: flex;
  gap: 10px;
  font-size: 15px;
  border-bottom: 1px solid #dedede;
  margin: 10px 0px;
}

#username {
  font-size: 14px;
  font-weight: 600;
  color: #525252;
}

#time-ago {
  font-size: 13px;
  font-weight: 400;
  color: #8a8a8a;
}

#subreddit-post-title {
  padding: 5px 0;
  font-size: 14px;
  font-weight: 600;
  color: #838383;
  border-bottom: 1px solid #dedede;
  margin-bottom: 15px;
}

#community-user {
  display: flex;
  align-items: center;
  gap: 10px;
}

#community-name {
  font-size: 12px;
  font-weight: 600;
  color: #434343;
}

#user-name {
  font-size: 12px;
  font-weight: 400;
  color: #303030;
}

#community-name-timeago {
  display: flex;
  gap: 5px;
}

#post-detail-page-title {
  padding: 10px 0;
  font-size: 17px;
  font-weight: 600;
  color: #525252;
}

#add-comment-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  margin: 10px 0;
  background: white;
  width: 100%;
  border-radius: 30px;
  font-size: 15px;
  font-weight: 600;
  color: rgb(96, 96, 96);
  border: 1px solid #535353;
  white-space: nowrap;
}

#add-icon {
  font-size: 40px;
  font-weight: 100;
}

#add-comment-textarea {
  margin: 10px 0;
  font-size: 16px;
  padding: 10px;
  border: 1px solid #dedede;
  border-radius: 20px;
  width: calc(100% - 20px);
  height: 100px;
}

#btns-container {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}

#cancel-comment-btn {
  background: #dedede;
  color: #525252;
  padding: 10px 20px;
  border-radius: 20px;
  font-size: 13px;
  font-weight: 600;
  border: none;
  white-space: nowrap;
}

#comment-btn {
  background: #173fc3;
  color: white;
  padding: 10px 20px;
  border-radius: 20px;
  font-size: 13px;
  font-weight: 600;
  border: none;
  white-space: nowrap;
}
