#navbar-container {
  display: flex;
  flex-direction: column;
  padding: 3px 15px;
}

#navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
}

#search-bar {
  display: flex;
  align-items: center;
  gap: 5px;
  background: #eaedef;
  border-radius: 25px;
  padding: 10px 15px;
  color: #576f76;
  font-size: 14px;
  white-space: nowrap;
  flex-grow: 1;
}

#login {
  background: #ff4500;
  color: white;
  padding: 12px 15px;
  border-radius: 25px;
  font-weight: bold;
  border: none;
  white-space: nowrap;
}

#search-text {
  display: none;
}

@media (min-width: 429px) {
  #search-text {
    display: block;
  }

  #search-text-sm {
    display: none;
  }
}

#login-modal {
  margin: 10px;
}

#cancel-btn-container {
  display: flex;
  justify-content: flex-end;
}

#cancel-btn {
  background: #dedede;
  border-radius: 50%;
  border: none;
  font-size: 22px;
  font-weight: 300;
  padding: 2.5px 10px;
  margin-top: 12px;
}

#login-text {
  margin-top: 0;
}

.auth-input {
  font-size: 16px;
  width: 90%;
  padding: 20px;
  margin: 10px 0;
  border: none;
  border-radius: 20px;
  background: rgb(224, 224, 224);
}

#sign-up-btn {
  background: #ff4500;
  color: white;
  padding: 16px 0;
  width: 100%;
  border-radius: 25px;
  font-size: 16px;
  font-weight: bold;
  border: none;
  white-space: nowrap;
}

.signed-in-text {
  margin-top: 20px;
}

.auth-flex {
  gap: 290px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.login-link {
  color: #006aff;
}

#create-btn {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 14px;
  font-weight: 600;
  color: #5e5e5e;
}

#avatar {
  border-radius: 50%;
  width: 40px;
  height: 40px;
}

#profile {
  display: flex;
  align-items: center;
  gap: 10px;
  color: #414141;
}

#logout-btn {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-left: 11px;
  text-decoration: none;
  color: #414141;
}

#logout-modal {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 0 16px;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  border: 1px solid #dedede;
  position: absolute;
  background: white;
  bottom: 0;
  left: 0;
  right: 0;
  height: 440px;
}

#logout-modal-container {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.6);
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}

#subreddit-details {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 12px;
  color: black;
  font-weight: 400;
}

#child {
  margin: 0 10px;
}

#post-title {
  margin-top: 10px;
  margin-bottom: 6px;
  font-size: 16px;
  font-weight: 600;
  color: rgb(117, 117, 117);
}

#post-message {
  font-size: 14px;
  color: rgb(81, 81, 81);
}